body{
  margin: 0;
}

.header{
  display: flex;
  background-color: white;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
  align-items: center ;

}

.logo{
  display: flex;
  padding-left: 20px;

}
.menubar span a, a visited{
  color: black;
}

.logo h4{
  padding-left: 4px;
  color: MediumAquamarine;
}
.menubar{
  padding-right: 50px;
  padding-bottom: 5px;

}
