body{
  margin: 0;
}

.header{
  display: flex;
  background-color: white;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
  align-items: center ;

}

.logo{
  display: flex;
  padding-left: 20px;

}
.menubar span a, a visited{
  color: black;
}

.logo h4{
  padding-left: 4px;
  color: MediumAquamarine;
}
.menubar{
  padding-right: 50px;
  padding-bottom: 5px;

}



.main{
  display: flex;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: ;
  justify-content: center;
  position: static;
  min-width: 1270px;

}

.left{

  /* border: 1px solid black; */
  margin-top: 40px;
  margin-right: 10px;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap;
  /* background-color: purple; */
  height:1300px;
  padding: 0;
  width: 630px;




}

.middle{

  /* border: 1px solid black; */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction:column;
  height:1300px;
  /* background-color: yellow; */
  width: 300px;
}

.right{

  /* border: 1px solid black; */
  margin-left: 10px;
  margin-right: 0;
  margin-top: 40px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  height:1300px;
  /* background-color: beige; */
  width: 240px;

}

#linkphoto1{
  background-image: url("../img-story-main.png");
  /* border: 1px black solid; */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 100%;
  order: ;

}
#linkphoto2{
  background-image: url("../img-story-2.png");
  /* border: 1px black solid; */
  background-repeat: no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  order: ;


}
#linkphoto3{
  background-image: url("../img-story-3.png");
  /* border: 1px black solid; */
  background-repeat: no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 25%;
}
#linkphoto4{
  background-image: url(../img-story-1.png);
  /* border: 1px black solid; */
  background-repeat: no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 20%;

}


#textbox1 , #textbox2 , #textbox3 , #textbox4 , #textbox5 , #imagebox{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#textbox2 , #linkphoto2 , #textbox3 , #linkphoto3{
  width: 49%;
}

.newsbites{

  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  padding: 0;
  display: flex;

}

#imagebox h2{
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}
.footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-direction:column;
  justify-content: ;
  align-items: center;
  width: auto;
  height: 400px;
  margin: 0;
  padding: 0;
}

.column1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.column1 h1{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
